.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
  display: flex;  /* sets flex box mode */
  align-items: center; /* centers flex items along cross axis */
  justify-content: center; /* centers flex items along main axis */
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
}